@inherits MS.Sc.Infrastructure.Views.BaseView<MS.Sc.Models.IFooter>

<footer id="main-footer">
    <section class="wrapper">
        <div class="section-content" id="footer">
            <div id="subscribe-newsletter">
                <div class="copyright desktop">
                    <span class="ms-icon icon-msLogo-footer"></span>
                    <span>@Editable(i => i.Logo_Text)</span>
                </div>
                <div class="socialNetworks">
                    <p>
                        @foreach (var social in Model.Social_Networks)
                        {
                            <a href="@(social.Link != null ? social.Link.Url : "#")" target="_blank"><span class="icon-footer icon-@(social.CSS_Class)-footer"></span></a>
                        }
                    </p>
                </div>
                <div class="button-holder">
                    @RenderLink(i => i.Subscribe_Button)
                </div>
                <div class="copyright mobile">
                    <span class="ms-icon icon-msLogo-footer"></span>
                    <span>@Editable(i => i.Logo_Text)</span>
                </div>
            </div>
            @using (Html.BeginForm("CreateContact", "Home", FormMethod.Post, new { @id = "form-newsletter", @class = "form-newsletter form--inverted" }))
            {
                <fieldset>
                    <div class="input--holder">
                        <label class="label-visible" for="email" data-text="Your Email:">@Editable(i => i.Email)</label>
                        <input id="email" name="email" class="required field-email input-form" type="text" />
                    </div>
                    <div class="input--holder telephonePot">
                        <label for="telephonePot">@Editable(i => i.Telephone)</label>
                        <input type="text" id="telephonePot" name="telephonePot" class="field-text" />
                    </div>
                    <div class="buttons--holder">
                        <button id="button_subscribe_newsletter" class="button button--secondary button--inverted button--small" type="button">@Editable(i => i.Subscribe)</button>
                        <a href="#!" id="cancel-subscribe" class="button button--secondary button--hollow button--small button--white">@Editable(i => i.Cancel)</a>
                    </div>
                </fieldset>
            }
        </div>
    </section>
</footer>